/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/resource
/storage/backup-resource
/storage/logs
/vendor
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.*
!/.gitignore
!/public/.htaccess
